--
-- PostgreSQL database dump
--

\restrict UD7r0wYgsENsSMzUytMN0NSdlOAlmtVP2q6Wz28nYM9GLDKPGpHWtZTzLMaJjzr

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: delivery_day; Type: TYPE; Schema: public; Owner: vrptw
--

CREATE TYPE public.delivery_day AS ENUM (
    'thursday',
    'friday'
);


ALTER TYPE public.delivery_day OWNER TO vrptw;

--
-- Name: order_status; Type: TYPE; Schema: public; Owner: vrptw
--

CREATE TYPE public.order_status AS ENUM (
    'pending',
    'assigned',
    'delivered',
    'failed_attempt',
    'dropped'
);


ALTER TYPE public.order_status OWNER TO vrptw;

--
-- Name: route_status; Type: TYPE; Schema: public; Owner: vrptw
--

CREATE TYPE public.route_status AS ENUM (
    'preview',
    'committed'
);


ALTER TYPE public.route_status OWNER TO vrptw;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: vrptw
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone_number text NOT NULL,
    lat double precision,
    lon double precision
);


ALTER TABLE public.clients OWNER TO vrptw;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: vrptw
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO vrptw;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vrptw
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: vrptw
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    client_id integer NOT NULL,
    assigned_day public.delivery_day,
    delivery_week date NOT NULL,
    status public.order_status DEFAULT 'pending'::public.order_status NOT NULL,
    drop_reason text,
    total_amount numeric(10,2) DEFAULT 0 NOT NULL,
    paid_cash numeric(10,2) DEFAULT 0 NOT NULL,
    paid_transfer numeric(10,2) DEFAULT 0 NOT NULL,
    delivery_address text,
    delivery_lat double precision,
    delivery_lon double precision,
    CONSTRAINT payment_non_negative CHECK (((paid_cash >= (0)::numeric) AND (paid_transfer >= (0)::numeric))),
    CONSTRAINT payment_not_exceeding CHECK (((paid_cash + paid_transfer) <= total_amount))
);


ALTER TABLE public.orders OWNER TO vrptw;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: vrptw
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO vrptw;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vrptw
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: route_stops; Type: TABLE; Schema: public; Owner: vrptw
--

CREATE TABLE public.route_stops (
    id integer NOT NULL,
    route_id integer NOT NULL,
    order_id integer NOT NULL,
    sequence integer NOT NULL,
    eta_min integer,
    chosen_window_id integer
);


ALTER TABLE public.route_stops OWNER TO vrptw;

--
-- Name: route_stops_id_seq; Type: SEQUENCE; Schema: public; Owner: vrptw
--

CREATE SEQUENCE public.route_stops_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.route_stops_id_seq OWNER TO vrptw;

--
-- Name: route_stops_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vrptw
--

ALTER SEQUENCE public.route_stops_id_seq OWNED BY public.route_stops.id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: vrptw
--

CREATE TABLE public.routes (
    id integer NOT NULL,
    delivery_week date NOT NULL,
    day public.delivery_day NOT NULL,
    vehicle_index integer DEFAULT 0 NOT NULL,
    total_time_min integer,
    status public.route_status DEFAULT 'preview'::public.route_status NOT NULL,
    generated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.routes OWNER TO vrptw;

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: vrptw
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_seq OWNER TO vrptw;

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vrptw
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: time_windows; Type: TABLE; Schema: public; Owner: vrptw
--

CREATE TABLE public.time_windows (
    id integer NOT NULL,
    order_id integer NOT NULL,
    day public.delivery_day NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    CONSTRAINT valid_window CHECK ((start_time < end_time))
);


ALTER TABLE public.time_windows OWNER TO vrptw;

--
-- Name: time_windows_id_seq; Type: SEQUENCE; Schema: public; Owner: vrptw
--

CREATE SEQUENCE public.time_windows_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.time_windows_id_seq OWNER TO vrptw;

--
-- Name: time_windows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vrptw
--

ALTER SEQUENCE public.time_windows_id_seq OWNED BY public.time_windows.id;


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: route_stops id; Type: DEFAULT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops ALTER COLUMN id SET DEFAULT nextval('public.route_stops_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Name: time_windows id; Type: DEFAULT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.time_windows ALTER COLUMN id SET DEFAULT nextval('public.time_windows_id_seq'::regclass);


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: vrptw
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: vrptw
--



--
-- Data for Name: route_stops; Type: TABLE DATA; Schema: public; Owner: vrptw
--

COPY public.route_stops (id, route_id, order_id, sequence, eta_min, chosen_window_id) FROM stdin;
330	66	48	0	960	\N
331	66	47	1	983	\N
332	66	49	2	\N	\N
\.


--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: vrptw
--

COPY public.routes (id, delivery_week, day, vehicle_index, total_time_min, status, generated_at) FROM stdin;
66	2026-08-10	thursday	0	493	committed	2026-08-24 23:51:11.841514+00
67	2026-08-10	friday	1	0	committed	2026-08-24 23:51:11.841514+00
\.


--
-- Data for Name: time_windows; Type: TABLE DATA; Schema: public; Owner: vrptw
--



--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vrptw
--

SELECT pg_catalog.setval('public.clients_id_seq', 159, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vrptw
--

SELECT pg_catalog.setval('public.orders_id_seq', 169, true);


--
-- Name: route_stops_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vrptw
--

SELECT pg_catalog.setval('public.route_stops_id_seq', 332, true);


--
-- Name: routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vrptw
--

SELECT pg_catalog.setval('public.routes_id_seq', 67, true);


--
-- Name: time_windows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vrptw
--

SELECT pg_catalog.setval('public.time_windows_id_seq', 365, true);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: route_stops route_stops_pkey; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops
    ADD CONSTRAINT route_stops_pkey PRIMARY KEY (id);


--
-- Name: route_stops route_stops_route_id_sequence_key; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops
    ADD CONSTRAINT route_stops_route_id_sequence_key UNIQUE (route_id, sequence);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: time_windows time_windows_pkey; Type: CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.time_windows
    ADD CONSTRAINT time_windows_pkey PRIMARY KEY (id);


--
-- Name: idx_orders_week_status; Type: INDEX; Schema: public; Owner: vrptw
--

CREATE INDEX idx_orders_week_status ON public.orders USING btree (delivery_week, status);


--
-- Name: idx_route_stops_route; Type: INDEX; Schema: public; Owner: vrptw
--

CREATE INDEX idx_route_stops_route ON public.route_stops USING btree (route_id, sequence);


--
-- Name: idx_time_windows_order; Type: INDEX; Schema: public; Owner: vrptw
--

CREATE INDEX idx_time_windows_order ON public.time_windows USING btree (order_id);


--
-- Name: orders orders_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: route_stops route_stops_chosen_window_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops
    ADD CONSTRAINT route_stops_chosen_window_id_fkey FOREIGN KEY (chosen_window_id) REFERENCES public.time_windows(id);


--
-- Name: route_stops route_stops_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops
    ADD CONSTRAINT route_stops_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: route_stops route_stops_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.route_stops
    ADD CONSTRAINT route_stops_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: time_windows time_windows_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vrptw
--

ALTER TABLE ONLY public.time_windows
    ADD CONSTRAINT time_windows_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict UD7r0wYgsENsSMzUytMN0NSdlOAlmtVP2q6Wz28nYM9GLDKPGpHWtZTzLMaJjzr

